<section>
  <div class="">
    <h1>{{ sauce.sauce_name }}</h1>
    <p>{{ sauce.sauce_description }}</p>
    <span>Price: ${{ sauce.sauce_price }}</span>


    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'shop:detail' sauce.id %}" method="post">
      {% csrf_token %}
      {% for mySauce in sauce.choice_set.all %}
      <input type="radio" name="mySauce" id="mySauce{{ forloop.counter }}" value="{{ mySauce.id }}">
      <label for="mySauce{{ forloop.counter }}">{{ mySauce.sauce_name }}</label><br>
      {% endfor %}
      <input class='card_button' type="submit" value="Order">
    </form>

  </div>
</section>

<style>
  section {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

  }
  section > div {
    font-size: 2em;
    background-color: brown;
    color: white;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8em;
    border-radius: 20px;
  }

  section > div > form {
    margin: 1em 0 0 0;
  }

  .card_button {
    padding: 1em;
    margin: 1em;
    border: none;
    background-color: cornflowerblue;
    color: white;
    width: 100px;
    justify-self: end;
    align-self: flex-end;
    margin-top: auto; /* Move this item to the bottom */
  }
</style>
