<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Dani Roxberry <dani@makeschool.com>">
      <link rel="icon" href="https://icon-library.net/images/favicon-icon/favicon-icon-18.jpg">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


      <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      {% load static %}

      <link rel="stylesheet" type="text/css" href="{% static 'olive/style.css' %}">

      <title>Olive Oil</title>
  </head>

  <body>

    <div class="spacer text-center mb-0 pt-0">
      <h5 class=" text-white">First time buying from us?
        <span class="btn btn-flat learn-more-btn bg-white text-dark p-1 m-1">Buy 1 Get 1 Free</span>
      </h5>
    </div>




    <!-- Home banner -->
    <div class="container-fluid text-center background-img mt-0 pt-0">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
        <a class="navbar-brand" href="#"><img src="https://icon-library.net/images/olive-oil-icon/olive-oil-icon-22.jpg" width="150px" height="150px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'olive:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'olive:index' %}">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'olive:detail' 1 %}">Olive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'olive:detail'  2 %}">Argan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- banner text -->
      <div class="text-white text-center">
        <p class="h2"> Organic Oil </p>
      </div>
      <div class="big text-center">
        <p class="display-3 text-light">The Market For Olive and Argan</p>
      </div>

      <!-- Search form -->
      <div class="container mt-5 text-center">
        <div class="col-lg-12 offset">
          <form action="">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 p-3">
              <div class="input-group bg-transparent">
                <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link text-primary text-white green"><i class="fa fa-search"></i>BROWSE ALL</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Search menu -->
        <div class="container-fluid">
          <div class="col-10 offset-1 text-center">
            <ul class="list-inline list-group-horizontal-md pb-3">
              <li class="list-inline-item bg-transparent text-light"><a href="{% url 'olive:detail'  1 %}" class="btn text-light">ARGAN OIL</a></li>
              <li class="list-inline-item bg-transparent text-light"><a href="{% url 'olive:detail'  2 %}" class="btn text-light">OLIVE OIL</a></li>
              <li class="list-inline-item bg-transparent text-light"><a href="{% url 'olive:detail'  3 %}" class="btn text-light">PEANUT OIL</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <div class="container-fluid p-5 m-0">
      <div class="row">

          {% block content %}

           {% endblock %}
      </div>
    </div>

  </body>





  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</html>
