{% extends 'base.html' %}
{% block home_banner %}
  {% include 'olive/partials/navbar.html' %}
{% endblock %}

{% block content%}

<section class="shopping-cart light col-xl">
  <div class="container">
    <img class="float-left" src="{{ olive.olive_image }}" alt="" width="150px" height="150px">
    <div class="block-heading">
      <h2>Checkout</h2>
      <p>{{olive.olive_name}} ${{ olive.olive_price }} each</p>
      <p>{{ olive.olive_description }}</p>
    </div>

    <div class="container float-left" id="checkout_container">
      <div class="row justify-content-center">
          <form action="" class="form-container" id="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <div class="order_button">
              <button type="submit" class="btn btn-primary btn-lg" onclick="">ORDER NOW</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
